.root-container{
  background: #fafafa;
  height: 100%;
}
mat-toolbar {
  background: #0168B4;
}

.image-responsive {
  height: auto;
}

.spacer {
  flex: 1 1 auto;
}

.large-screen-options {
  margin: 0px 20px;
}

/* .div-modulos, .div-logout {
  color: white;
  display: inline-block;
  margin: 0px 10px;
  text-align: center;
  font-size: 16px;
} */

.button-modulos, .button-logout {
  display: inline-block;
  background: #0168B4;
  color: white;
  margin: 0px 5px;
}

.label-modulos, .label-logout{
  margin-top: -6px;
  display: block;
}

@media screen and (max-width: 599px) {
  .image-responsive {
    max-width: 120px;
  }
}

@media screen and (max-width: 600px) {
  .image-responsive {
    margin-left: auto;
    margin-right: auto;
  }

  .large-screen-options, .spacer {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  mat-toolbar {
    height: 90px;
  }

  .image-responsive {
    max-width: 180px;
  }

  .small-screen-options {
    display: none;
  }
}
