<mat-toolbar>
  <img class="image-responsive" src="/assets/images/logo.png" alt="Nature">
  <span class="spacer"></span>
  <div class="large-screen-options">
    <div class="div-modulos">
      <button mat-icon-button class="button-modulos">
        <mat-icon class="fas fa-th"></mat-icon>
      </button>
      <label>Módulos</label>
    </div>
    <div class="button-logout">
      <button mat-icon-button class="button-logout">
        <mat-icon class="fas fa-sign-out-alt"></mat-icon>
      </button>
      <label>Log Out</label>
    </div>
  </div>
  <div class="small-screen-options">

  </div>
</mat-toolbar>
<router-outlet></router-outlet>
