<div class="root-container">
  <mat-toolbar>
    <img class="image-responsive" src="/assets/images/logo.png" alt="Nature">
    <span class="spacer"></span>
    <div class="large-screen-options">
      <button mat-flat-button class="button-modulos">
        <mat-icon class="fas fa-th"></mat-icon>
        <label class="label-modulos">Módulos</label>
      </button>
      <!-- <div class="div-modulos">
      </div> -->
      <button mat-flat-button class="button-logout">
        <mat-icon class="fas fa-sign-out-alt"></mat-icon>
        <label class="label-logout">Log Out</label>
      </button>
      <!-- <div class="div-logout">
      </div> -->
    </div>
    <div class="small-screen-options">
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

</div>
