.faq-container, mat-table {
  background: #fafafa;
}

mat-header-cell {
  background: #0168B4;
  color: white;
  font-size: 14px;
}

mat-header-cell, mat-cell {
  margin-left: 2px;
  justify-content: center;
}

mat-header-cell:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-right: 24px;
}

mat-header-cell:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

mat-header-cell:first-child, mat-cell:first-child {
  flex-grow: 7;
  margin-left: 0px;
  justify-content: right;
}

h1 {
  font-weight: bold;
  /* margin: 0px; */
}

h1, mat-cell:first-child {
  color: #303030;
}

mat-cell:nth-child(2) {
  font-weight: bold;
}

mat-header-row {
  border-bottom-width: 0px;
}

mat-row {
  background: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  margin: 10px 0px;
}

mat-header-row, mat-row {
  min-height: 40px;
}

.spacer {
  flex: 1 1 30%;
}

.div-title {
  display: flex;
  align-items: center;
}

.div-search {
  display: flex;
  font-size: 8px;
  align-items: center;
  flex-grow: 2;
}

.mat-form-field {
  margin-right: 12px;
  flex-grow: 2;
}

::ng-deep .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0;
}

mat-form-field .mat-input-element {
  font: caption;
  font-size: 14px;
}

#input {
  border-radius: 15px;
}

.button-add {
  line-height: normal;
  padding: 0px;
}

.button-add, .button-search {
  background: #0168B4;
  color: white;
}

.button-search {
  border-radius: 15px;
}

.plus-icon {
  margin-right: 7px;
}

.button-edit {
  color: #0168B4;
}

.button-trash {
  color: #DC3545;
}
