<div class="faq-container">
  <div class="div-title">
    <h1>FAQ - Perguntas Frequentes</h1>
    <span class="spacer"></span>
    <div class="div-search">
      <mat-form-field class="search-field" appearance="outline">
        <!-- <mat-label>Filter</mat-label> -->
        <input matInput placeholder="Busque por termo..." #input>
      </mat-form-field>
      <button mat-flat-button class="button-search">
        <mat-icon class="fas fa-search plus-icon"></mat-icon>
        Nova Pergunta
      </button>
    </div>
  </div>
  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="pergunta">
      <mat-header-cell *matHeaderCellDef>
        Pergunta
        <span class="spacer"></span>
        <button mat-flat-button class="button-add">
          <mat-icon class="fas fa-plus-circle plus-icon"></mat-icon>
          Nova Pergunta
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pergunta}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ordem">
      <mat-header-cell *matHeaderCellDef> Ordem </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ordem}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button class="button-edit">
          <mat-icon class="fas fa-edit"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <mat-header-cell *matHeaderCellDef> Excluir </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button class="button-trash">
          <mat-icon class="fas fa-trash"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
